body
    width: 425px
    height: 882px
    margin: 0px
    background-color: #FFFF

#root
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    background-color: #F2F2F2
    width: 425px
    height: 882px
    @media all and (max-width : 1024px) and (min-width: 768px)
        width: 768px
    @media all and (max-width : 1440px) and (min-width: 1024px)
        width: 1024px
    @media all and (max-width : 1920px) and (min-width: 1440px)
        width: 1440px
    @media all and (max-width : 2560px) and (min-width: 1920px)
        width: 1920px
