.form

    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 90%
    max-height: 500px

    &__field
        height: auto
        width: 280px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-content: space-around

        &--error
            max-width: 280px
