.groups
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    align-items: space-between
    width: 75%
    height: 90%

    &__items
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        height: 150px
        border: 1px solid red

        &__button
            width: 75%
