.messages
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 90%
    height: auto

    &__footer
        display: flex
        flex-direction: row
        justify-content: space-between
        border-top: 1px solid yellow
        &__icons
            width: 20%
            display: flex
            justify-content: space-around
            align-items: center

    &__items
        display: flex
        flex-direction: column
        justify-content: space-around
        border: solid 1px blue
        border-radius: 10px
        width: 100%

    &__autor
        width: 80%

    &__head
        display: flex
        justify-content: space-between
        width: 100%
        border-bottom: solid 1px red

        &__icons
            width: 20%
            display: flex
            justify-content: space-around
            align-items: center
