.nav
    display: flex
    flex-direction: row
    width: 100%
    min-height: 10%
    justify-content: space-around
    background-color: #4267b2
    margin-bottom: 15px
    align-items: center
    &__user
        display: flex
        flex-direction: row
        align-items: center
        width: 60%
    & a
        text-decoration: none
        color: #FFF

    @media all and (max-width : 2560px) and (min-width: 768px)
        height: 10%

    &__titre
        width: 90%
        color: #FFF

    &__item
        list-style: none
        &__underline
            width: 50px
            height: 10px
            color: #fff
            transform: scaleX(2)
            left: 0px
    &__picture
        width: 50px
        height: 50px
        border-radius: 150px
    &__items
        list-style: none
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        width: 30%
        @media all and (max-width : 2560px) and (min-width: 768px)
            width: 40%

        &:hover
            cursor: pointer
